@import "../../global.scss";

.projects {
  background-color: $colorTwo;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  .title-container {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .background-title {
    font-size: 135px;
    margin-bottom: 10px;
    color: $textColor;
    opacity: 0.05;

    @include mobile {
      font-size: 32px;
    }
  }

  .main-title {
    font-size: 40px;
    color: $textColor;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      font-size: 20px;
    }

    &::after {
      content: "";
      display: block;
      width: 60px;
      height: 3px;
      background-color: $alternate;
      margin: 0 125px;
    }

    @include mobile {
      font-size: 25px;
    }
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding-right: 17px; /* Adjust for scrollbar width */

    @include mobile {
      width: 100%;
    }
  }

  /* Set the width of each project item for desktop */
  .projects-container .project-item {
    width: calc(33.33% - 20px); /* 3 projects per row */
    margin-bottom: 20px;
  }

  /* Offset the right-hand side projects slightly lower for desktop */
  .projects-container .project-item:nth-child(4),
  .projects-container .project-item:nth-child(5),
  .projects-container .project-item:nth-child(6) {
    margin-top: 50px;
  }

  @include mobile {
    /* Set the width of each project item for mobile */
    .projects-container .project-item {
      width: calc(50% - 20px); /* 2 projects per row */
      margin-bottom: 30px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
