@import "../../global.scss";

/* Assuming you have imported font-awesome CSS for GitHub icon */
/* Add more styles to customize the look and feel of the PortfolioItem */
.portfolio-item {
  position: relative;
  width: 300px;
  border: 1px solid $colorOne;
  background-color: $colorOne;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}
.logo-container {
  display: flex;
  justify-content: center;
}
.title {
  color: $alternate;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 25px;
}

.project-description {
  color: $textColor;
  font-size: 15px;
  opacity: 0.8;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.tag {
  color: $textColor;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.links-container {
  display: flex;
  margin-top: 20px;
  img {
    max-width: 25px; /* Set a maximum width for the images */
    max-height: 25px; /* Set a maximum height for the images */
    margin-right: 10px;

    @include mobile {
      max-width: 25px; /* Adjust image size on smaller screens */
      max-height: 25px;
    }
  }
}
