@import "../../global.scss";

$baseFontSize: 16px;

.topbar {
  width: 100%;
  height: 4.375rem;
  background-color: $colorOne;
  color: $textColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    padding: 0.625rem 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo-container {
        overflow: visible;
      }

      .logo {
        font-size: 2.5rem;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 2.5rem;
      }
    }

    .right {
      // Add media query to hide the right div on smaller screens
      @include mobile {
        display: none;
      }

      .hamburger {
        width: 2rem;
        height: 1.5625rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 0.1875rem;
          background-color: $textColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: $alternate;
    color: $textColor;

    .hamburger {
      span {
        &:first-child {
          background-color: $textColor;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: $textColor;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
