@import "../../global.scss";

$baseFontSize: 16px;

.about {
  background-color: $colorTwo;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
}

.title-container {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 1.875rem;
}

.background-title {
  font-size: 8.4375rem;
  margin-bottom: 0.625rem;
  color: $textColor;
  opacity: 0.05;
}

.main-title {
  font-size: 2.5rem;
  color: $textColor;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::after {
    content: "";
    display: block;
    width: 3.125rem;
    height: 0.1875rem;
    background-color: $alternate;
    margin: 0 auto;
  }
}

.information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3.125rem;
  .left {
    width: 60%;
    margin-left: 3.125rem;
    color: $textColor;
    font-weight: bold;
    .name-title {
      margin-bottom: 0.9375rem;
      color: $textColor;
      span {
        color: $alternate;
      }
    }
    .first-paragraph {
      margin-bottom: 0.9375rem;
      opacity: 40%;
    }
    .second-paragraph {
      opacity: 40%;
    }
  }
  .right {
    width: 30%;
    color: $textColor;
    align-items: center;
    p {
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 1.25rem;
      &::after {
        content: "";
        display: block;
        width: 5rem;
        height: 0.0625rem;
        background-color: white;
        margin-top: 0.9375rem;
        opacity: 5%;
      }
    }
    span {
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
    }
    .email {
      color: $alternate;
    }
    .download {
      background-color: $alternate;
      border: none;
      border-radius: 1.25rem;
      color: $textColor;
      font-size: 0.9375rem;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      padding: 0.625rem 2.5rem;
    }
    .download:hover {
      background-color: #17a389;
      cursor: pointer;
    }
  }
}

.statistics-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem;
  width: 100%;
  position: relative;
}

.statistic {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: calc(25% - 1.25rem);
  color: $textColor;
}

.number {
  font-size: 2rem;
  font-weight: bold;
  opacity: 0.7;
}

.statistic-name {
  font-size: 1.75rem;
  opacity: 0.9;
}

.statistics-container::before,
.statistics-container::after,
.statistics-container div:nth-child(3)::before {
  content: "";
  position: absolute;
  height: 90%;
  width: 0.0625rem;
  background-color: $textColor;
  opacity: 5%;
  top: 0;
}

.statistics-container::before {
  left: 25%;
}

.statistics-container::after {
  left: 50%;
}

.statistics-container div:nth-child(3)::before {
  left: 75%;
}
