@import "../../global.scss";

.contact {
  background-color: $colorTwo;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  .title-container {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .background-title {
    font-size: 135px;
    margin-bottom: 10px;
    color: $textColor;
    opacity: 0.05;

    @include mobile {
      font-size: 32px;
    }
  }

  .main-title {
    font-size: 40px;
    color: $textColor;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      font-size: 20px;
    }

    &::after {
      content: "";
      display: block;
      width: 50px;
      height: 3px;
      background-color: $alternate;
      margin: 0 125px;
      margin-left: 90px;
    }

    @include mobile {
      font-size: 25px;
    }
  }
}
.info-container {
  background-color: $colorOne;
  border-radius: 10px;
  width: 30%;
  padding: 30px;
  margin-top: 30px;
  height: 60%;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

  .itemContainer {
    display: flex;
    margin-top: 5px;

    @include mobile {
      display: none;
    }

    .icon {
      font-size: 18px;
      margin-right: 5px;
    }

    span {
      font-size: 20px;
      color: $alternate;
      font-weight: bold;
    }
    p {
      font-size: 20px;
      font-weight: bold;
      color: $textColor;
      opacity: 0.8;
    }
  }
  .logos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  img {
    max-width: 40px; /* Set a maximum width for the images */
    max-height: 40px; /* Set a maximum height for the images */
    margin-right: 10px;
    margin-top: 20px;

    @include mobile {
      max-width: 25px; /* Adjust image size on smaller screens */
      max-height: 25px;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
