@import "../../global.scss";

/* contact.scss */

$baseFontSize: 16px;

.contact {
  background-color: $colorTwo;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;

  .title-container {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 0.625rem;
    overflow: hidden;
  }

  .background-title {
    font-size: 8.4375rem;
    margin-bottom: 0.625rem;
    color: $textColor;
    opacity: 0.05;

    @include mobile {
      font-size: 2rem;
    }
  }

  .main-title {
    font-size: 2.5rem;
    color: $textColor;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      font-size: 1.25rem;
    }

    &::after {
      content: "";
      display: block;
      width: 3.125rem;
      height: 0.1875rem;
      background-color: $alternate;
      margin: 0 7.8125rem;
      margin-left: 5.625rem;
    }

    @include mobile {
      font-size: 1.5625rem;
    }
  }
}

.info-container {
  background-color: $colorOne;
  border-radius: 0.625rem;
  width: 30%;
  padding: 1.875rem;
  margin-top: 1.875rem;
  height: 60%;

  @include mobile {
    width: 100%;
  }
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.9375rem;

  .itemContainer {
    display: flex;
    margin-top: 0.3125rem;

    @include mobile {
      display: none;
    }

    .icon {
      font-size: 1.125rem;
      margin-right: 0.3125rem;
    }

    span {
      font-size: 1.25rem;
      color: $alternate;
      font-weight: bold;
    }
    p {
      font-size: 1.25rem;
      font-weight: bold;
      color: $textColor;
      opacity: 0.8;
    }
  }
  .logos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.25rem;
  }

  img {
    max-width: 2.5rem;
    max-height: 2.5rem;
    margin-right: 0.625rem;
    margin-top: 1.25rem;

    @include mobile {
      max-width: 1.5625rem;
      max-height: 1.5625rem;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
