@import "../../global.scss";

$baseFontSize: 16px;

.intro {
  background-color: $colorOne;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 112.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  box-sizing: border-box;

  .intro-text {
    color: $textColor;
    font-size: 1.875rem;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .top {
    position: relative;
    margin-bottom: 1.875rem;

    .wrapper {
      padding: 0 1.25rem;

      @include mobile {
        padding: 0;
        margin: 0;
      }

      h1 {
        font-size: 3.75rem;
        margin: 0.625rem 0;

        @include mobile {
          font-size: 2.5rem;
          margin: 0.3125rem 0;
        }
      }

      h2 {
        font-size: 2.1875rem;
      }

      h3 {
        font-size: 1.875rem;
        margin-bottom: 0.125rem;

        @include mobile {
          font-size: 1.25rem;
        }

        span {
          font-size: inherit;
          color: $alternate;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
  }

  .bottom {
    position: relative;

    .wrapper {
      padding: 0 1.25rem;

      @include mobile {
        padding: 0;
      }

      h4 {
        font-size: 1.5625rem;

        @include mobile {
          font-size: 1.0625rem;
        }

        max-width: 80%;
        margin: 0 auto;
      }
    }
  }

  .image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
      margin: 0.625rem;
      max-width: 6.25rem;
      max-height: 6.25rem;

      @include mobile {
        max-width: 5rem;
        max-height: 5rem;
      }
    }
  }

  .links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1.875rem;

    img {
      margin: 0.625rem;
      max-width: 2.1875rem;
      max-height: 2.1875rem;

      @include mobile {
        max-width: 1.5625rem;
        max-height: 1.5625rem;
      }
    }
  }

  @media screen and (min-width: 48rem) {
    .image-container {
      flex-wrap: wrap;
      justify-content: center;

      img {
        @include mobile {
          max-width: 6.25rem;
          max-height: 6.25rem;
        }

        &:nth-child(3n + 1) {
          margin-right: 0.625rem;
        }
      }
    }
    .left {
      position: absolute;
      top: 0;
      left: 0;
    }
    .right {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
