@import "../../global.scss";

.testimonials {
  background-color: $colorOne;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  .title-container {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .background-title {
    font-size: 135px;
    margin-bottom: 10px;
    color: $textColor;
    opacity: 0.05;

    @include mobile {
      font-size: 32px;
    }
  }

  .main-title {
    font-size: 40px;
    color: $textColor;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mobile {
      font-size: 20px;
    }

    &::after {
      content: "";
      display: block;
      width: 46px;
      height: 3px;
      background-color: $alternate;
      margin: 0 125px;
      margin-left: 100px;
    }

    @include mobile {
      font-size: 25px;
    }
  }

  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
      height: 100%;
    }

    .card {
      width: 250px;
      height: 70%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px -8px black;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 20px;
      transition: all 1s ease;
      background-color: $colorTwo;

      @include mobile {
        height: 180px;
        margin: 10px 0;
      }

      &.featured {
        width: 300px;
        height: 75%;
        margin: 0 30px;

        @include mobile {
          width: 250px;
          height: 180px;
          margin: 1px;
        }
      }

      &:hover {
        transform: scale(1.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          &.left,
          &.right {
            height: 25px;
          }
          &.user {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;

            @include mobile {
              width: 30px;
              height: 30px;
            }
          }
        }
      }

      .center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        color: $textColor;
        opacity: 0.8;

        @include mobile {
          font-size: 12px;
          padding: 5px;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        h2 {
          margin-bottom: 5px;
          color: $textColor;
          font-weight: bold;

          @include mobile {
            font-size: 14px;
          }
        }
        h3 {
          color: $alternate;
          @include mobile {
            font-size: 13px;
          }
        }
      }
    }
  }
}
