@import "../../global.scss";

$baseFontSize: 16px;

.experience-card {
  margin: 0.9375rem 1.25rem;
  display: flex;
  flex-direction: column;
  background-color: $colorTwo;
  border-radius: 0.625rem;

  max-width: 25rem;

  .years-container {
    width: 25%;
    background-color: $alternate;
    border-radius: 0.3125rem;
    color: $textColor;
    text-align: center;
    padding: 0.3125rem;
    margin: 0.9375rem 1.25rem;
    @include tiny{
      font-size: 0.8rem;
    }
    @include small{
      font-size: 0.9rem;
    }
    @include computer{
      font-size: 1rem;
    }
  }
  .title {
    color: $textColor;
    margin: 0px 1.25rem 0.3125rem 1.25rem;
    font-size: 1.75rem;
    
    @include tiny{
      font-size: 1.2rem;
      overflow-wrap: break-word;
      inline-size: 10rem;
    }
    @include small{
      font-size: 1.4rem;
    }
    @include computer{
      font-size: 1.6rem;
    }
  }
  .place {
    color: $alternate;
    margin: 0px 1.25rem;
    font-size: 1.125rem;
    
    @include tiny {
      font-size: 1rem;
      overflow-wrap: break-word;
      inline-size:
       10rem;
       margin-bottom: 1.5rem;
    }
    @include small{
      font-size: 1.05rem;
      overflow-wrap: break-word;
      inline-size: 12rem;
    }
    @include computer{
      font-size: 1.1rem;
    }
  }
  .information {
    color: $textColor;
    opacity: 0.8;
    margin: 0px 1.25rem;
    padding: 1.25rem 0px;
    @include tiny {
      display: none;
    }
    @include small {
      overflow-wrap: break-word;
      font-size: 0.8rem;
    }
    @include computer{
      font-size: 0.9rem;
    }
  }
}
