@import "../../global.scss";

/* experience.scss */

$baseFontSize: 16px;

.experience {
  background-color: $colorOne;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  @include mobile {
    min-height: calc(145vh - 70px);
  }

  .title-container {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 1.875rem;
  }

  .background-title {
    font-size: 8.4375rem;
    margin-bottom: 0.625rem;
    color: $textColor;
    opacity: 0.05;
    @include mobile {
      font-size: 2rem;
      visibility: hidden;
    }
  }

  .main-title {
    font-size: 2.5rem;
    color: $textColor;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::after {
      content: "";
      display: block;
      width: 3.75rem;
      height: 0.1875rem;
      background-color: $alternate;
      margin: 0 7.8125rem;
    }
    @include mobile {
      font-size: 1.5625rem;
    }
  }

  .information-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6.25rem;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
