@import "../../global.scss";

$baseFontSize: 16px;

.experience-card {
  margin: 0.9375rem 1.25rem;
  display: flex;
  flex-direction: column;
  background-color: $colorTwo;
  border-radius: 0.625rem;
  width: 40%;

  .years-container {
    width: 25%;
    background-color: $alternate;
    border-radius: 0.3125rem;
    color: $textColor;
    text-align: center;
    padding: 0.3125rem;
    margin: 0.9375rem 1.25rem;
  }
  .title {
    color: $textColor;
    margin: 0px 1.25rem 0.3125rem 1.25rem;
    font-size: 1.75rem;
  }
  .place {
    color: $alternate;
    margin: 0px 1.25rem;
    font-size: 1.125rem;
  }
  .information {
    color: $textColor;
    opacity: 0.8;
    margin: 0px 1.25rem;
    padding: 1.25rem 0px;
  }
}
